










body {
    background-color: #101010;
}

.container {
    height: 700px;
    width: 700px;
    text-align:center;
    font-size: 25px;
    background-color: #101010;
    outline: 5px solid rgb(33, 209, 13);
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.howtoplay {
    width: 150px;
    margin: auto;
    margin-top: -3%;
    text-align: center;
    font-size:x-large;
    text-decoration: underline;
    color:#196412;
}

h1 {
    padding-top: 3rem;
    color:rgb(33, 209, 13);
}

p {
    padding-top: 0.3rem;
    color:rgb(33, 209, 13);
}

.enteranumber {
    margin: auto;
    padding-top: 3rem;
    
}

.highscore {
    color:rgb(33, 209, 13);
    text-decoration: none;
    text-align: right;
    padding-right: 3rem;
}

#userInput {
    background-color: #101010;
    color:rgb(33, 209, 13);
}

#btn {
    background-color: #101010;
    color: rgb(33, 209, 13);
}

#score {
    color:rgb(33, 209, 13);
}
